services:
  autoheal:
    restart: always
    image: willfarrell/autoheal
    container_name: autoheal
    environment:
      - AUTOHEAL_CONTAINER_LABEL=all
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
  python-server:
    build: ./python-server
    container_name: python-server
    ports:
      - "8000:8000"
    volumes:
      - ./log:/usr/src/app/logs/
    networks:
      - stacktrace_net
    healthcheck:
      test: ["CMD-SHELL", "curl -fs http://127.0.0.1:8000 > /dev/null || exit 1"]
      interval: 60s
      retries: 55 # after 55 minutes of unavailability, the container will be restarted
      start_period: 20s
      timeout: 10s

  php-apache:
    build: ./php-apache
    container_name: php-apache
    depends_on:
      - python-server
    ports:
      - "80:80"
    volumes:
      - ./log:/var/log
    networks:
      - stacktrace_net
    healthcheck:
      test: ["CMD-SHELL", "curl -fs http://127.0.0.1:80 > /dev/null || exit 1"]
      interval: 60s
      retries: 55 # after 55 minutes of unavailability, the container will be restarted
      start_period: 20s
      timeout: 10s

networks:
  stacktrace_net:
